// Colors
$primary: #E9C54F;
$white: #ffffff;
$light: #F8F8F8;
$dark: #4D4D4D;
// Fonts
$font-family-base: 'Karla',
sans-serif;
$body-color: $dark;
// Navbar
$navbar-toggler-font-size: 1.75rem;
$navbar-light-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: #22B2C5;