.navbar-expand-lg .navbar-collapse {
    background-color: #22B2C5;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Karla', sans-serif;
    padding: 1em;
}

.navbar-dark .navbar-nav .nav-link li a:hover {
    color: #E9C54F;
}

.abo {
    background-color: #E9C54F;
    color: #22B2C5;
}