.page-header {
    min-height: 170px;
}


/* Logo */

.page-header-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brand img {
    width: 180px;
    margin: 0 -15px;
}

.baseline {
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.form {
    display: none;
}

@media (min-width: 640px) {
    .page-header-inner {
        flex-direction: row;
        justify-content: space-between;
    }
    .page-header {
        min-height: 129px;
    }
    .form {
        display: block;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
}

//Cases à droite
.page-header-content .user {
    display: flex;
    margin-bottom: 20px;
}

.user button {
    border: 1px solid #22B2C5;
}